* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}



:root {
    --bg-color: #1f242d;
    /* --second-bg-color: #323946; */
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


.our {
  color: #ececec; /* Change to any color you want */
}

.web-heading {
  color: white;
}



 h1 {
  color: #0ef; /* Replace with your desired color */
}
